VITE_SUPABASE_URL=https://caqfowkwqckgcnpcuwit.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNhcWZvd2t3cWNrZ2NucGN1d2l0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg0NDA1ODgsImV4cCI6MjEwNDAxNjU4OH0.8loIE8eWi9FgcgbfDlkIbMerwkSOMvhXA6dHuLRFDbM